/* 1. Global resets and variables*/

* { 
  margin: 0; 
  padding: 0;  
  font-family: "Inter", sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
}
    
:root{
  --background-color: #f0f0f0;
  --Selected-scheme: #8A0E0E; 
  --text-color: #222;
  --color-one: url('../img/red/coloredOne.png');
  --color-two: url('../img/red/coloredTwo.png');
  --color-three: url('../img/red/coloredThree.png');
  --color-four: url('../img/red/coloredFour.png');
  --color-five: url('../img/red/coloredFive.png');
  --color-six: url('../img/red/coloredSix.png');
  --background-image-form: url('../img/sfeerbeeldVerticalOne.jpg');
  --arrow-rotation: 180deg;
}

main {
  position: relative;
  z-index: -1;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
  z-index: -1;
}

  
/* 2. Header and hero*/

header {
  padding: 10px 0;
  height: 13vh;
  text-align: right;
  position: relative;
  z-index: 2;
  width: 100vw;
  overflow-x: clip;
}

header::before {
  content: "";
  position: absolute;
  top: -25%; left: -23%;
  width: 140%; 
  height: 140%;
  background: var(--color-one);
  background-size: 100% 100%;
  z-index: 1;
}

.titelVerf {
  width: 90vw;
  max-width: calc((366 / 65) * 10vh);
  max-height: 10vh;
  left: -8%;
  position: relative;
  z-index: 2;
}

.headerInfo {
  position: relative;
  font-size: 1.5rem;
  padding: 0.2em 0.5em;
  z-index: 2;
  top: -5%;
}

.headerInfo::before {
  content: "";
  position: absolute;
  top: -10%; 
  left: 0;
  width: 100%; 
  height: 150%;
  background: url("../img/whiteOne.png") no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.heroSection {
  position: relative;
  height: 75vh;
  width: 100%;
  overflow: hidden;
}

.faceContainer {
  position: absolute;
  inset: 0;
}

.redFace {
  position: absolute;
  height: 160%;
  width: 140vw;
  top: -30%;
  left: -80%;
  object-fit: cover;
}

.blueFace {
  position: absolute;
  height: 140%;
  width: 120vw;
  top: -20%;
  left: -63%;
  object-fit: cover;
}

.greenFace {
  position: absolute;
  height: 160%;
  width: 120vw;
  top: -30%;
  left: -60%;
  object-fit: cover;
}

.heroSection h1 {
  position: absolute;
  top: 1rem; 
  right: 1rem;
  font-size: 2.5rem;
  max-width: 40%;
  text-align: right;
}

.colorWheelContainer {
  position: absolute;
  bottom: 1rem; 
  right: 0;
  z-index: 0;
  max-height: 55vh;
  display: flex;
  align-items: flex-end;
}

.colorWheel {
  position: relative; 
  width: 40vw;
  z-index: 0;
  max-height: 55vh;
}

.cls-1 { fill: #714897; }
.cls-2 { fill: #d64391; }
.cls-3 { fill: #ff1414; }
.cls-4 { fill: #6ebe96; }
.cls-5 { fill: #e49610; }
.cls-6 { fill: #e8d710; }
.cls-7 { fill: #48a8df; }
.cls-8 { fill: #69b42e; }
.cls-9 { fill: #2d4c9b; }

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 {
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
  stroke-width: 5px;
  cursor: pointer;
}

.colorArrow {
  position: absolute;
  top: 45%;
  right: 5%;
  font-size: 2rem; 
  transform: rotate(var(--arrow-rotation, 180deg));
  transition: transform 0.3s ease;
}

.colorArrow::before {
  content: "";
  position: absolute;
  width: 160%;
  height: 160%;
  top: -30%;
  left: -30%;
  background-image: url("../img/whiteNine.png");
  background-size: 100% 100%;
  z-index: -1;
}

/* 3. Hero - programmatie section*/

.rectangleBasicOne {
  height: 12vh;
  padding: 10px 0;
  margin-top: 10px;
  z-index: 1;
  position: relative;
  width: 100vw;
  overflow-x: clip;
}

.rectangleBasicOne::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 180%;
  top: -50%;
  left: -30%;
  background-image: var(--color-two);
  background-size: 100% 100%;
  z-index: 2;
}

.videoContainer {
  width: 100vw;
  height: calc(100vw / 1920 * 1080);
}

.rectangleBasicTwo {
  height: 15vh;
  position: relative;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  width: 100vw;
  overflow-x: clip;
}

.rectangleBasicTwo::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  left: -20%;
  background-image: var(--color-three);
  background-size: 100% 100%;
}

.rectangleBasicTwo h3 {
  transform: rotate(-0.5deg);
}

.rectangleBasicTwo h3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 170%;
  top: -40%;
  left: -5%;
  background-image: url("../img/whiteTen.png");
  background-size: 100% 100%;
  z-index: -1;
}

h3 {
  font-weight: 800;
  font-size: 1.5rem;
  padding: 5px;
}

.arrow {
  font-size: 2rem;
  text-align: center;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}

.arrow::before {
  content: "";
  position: absolute;
  width: 160%;
  height: 160%;
  top: -40%;
  left: -30%;
  background-image: url("../img/whiteNine.png");
  background-size: 100% 100%;
  z-index: -1;
}

.visieTekstContainer {
  overflow-x: clip;
  display: none;
}

.visieParagraaf {
  position: relative;
  padding: 2rem;
  font-size: 1rem;
  transform: rotate(0.5deg);
}

.visieParagraaf::before {
  content: "";
  position: absolute;
  top: -8%;
  left: -30%;
  width: 140%;
  height: 120%;
  background-size: 100% 100%;
  z-index: -1;
}


.visieOne::before {
  background-image: url("../img/whiteThree.png");
}

.visieTwo::before {
  background-image: url("../img/whiteFour.png");
}

.visieTwo {
  transform: rotate(-1deg);
}

.visieThree::before {
  background-image: url("../img/whiteSix.png");
}

.visieFour::before {
  background-image: url("../img/whiteSeven.png");
}

.visieFour {
  transform: rotate(-2deg);
}

.imageSlider {
  overflow: hidden;
  width: 100vw;
  height: 30vh;
  padding: 10px 0px;
  position: relative;
  z-index: -1;
  background: var(--Selected-scheme);
}

.sliderTrack {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.sliderTrack img {
  height: 30vh;
  margin-right: 1.5rem;
  flex-shrink: 0;
}

/* 4. Programmatie */

.rectangleBasicThree {
  height: 12vh;
  padding: 10px 0;
  z-index: -1;
  position: relative;
  width: 100vw;
  overflow-x: clip;
}

.rectangleBasicThree::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 150%;
  top: -15%;
  left: -15%;
  transform: rotate(180deg);
  background-image: var(--color-three);
  background-size: 100% 100%;
}

.rectangleBasicThree h2 {
  padding-bottom: 10px;
  width: fit-content;
  left: 27%;
}

.rectangleBasicThree h2::before {
  content: "";
  position: absolute;
  width: 110%;
  max-width: 380px;
  height: 150%;
  top: -7%;
  left: -7%;
  background-image: url("../img/whiteOne.png");
  background-size: 100% 100%;
  z-index: -1;
}

.programOptions {
  gap: 1rem;
}

.option {
  font-size: 1.5rem;
}

.optionOne {
  position: relative;
  left: 5%;
}

.optionOne::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 160%;
  top: -20%;
  left: -18%;
  background-image: url("../img/whiteEleven.png");
  background-size: 100% 100%;
  z-index: -1;
}

.optionTwo {
  position: relative;
  z-index: 2;
  right: 5%;
}

.optionTwo::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 160%;  
  top: -20%;
  left: -20%;
  background-image: url("../img/whiteTwelve.png");
  background-size: 100% 100%;
  z-index: -1;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
  }

.programOptions {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 0;
  position: relative;
  z-index: 1;
}

.option.selected {
  position: relative;
  font-weight: 800;
}

.option.selected::after {
  content: "";
  position: absolute;
  top: 150%;
  left: -20%;
  width: 140%;
  height: 10px; 
  background-image: url("../img/whiteTwelve.png"); 
  background-size: 100% 100%;
}
  
.program {
  padding: 2rem;
  padding-top: 0;
}

.middag {
  transform: rotate(0.5deg);
  padding-top: 4rem;
}

.middag::before {
  content: "";
  position: absolute;
  top: 30%;
  left: -5%;
  width: 110%;
  height: 100%;
  background-image: url("../img/whiteTwo.png");
  background-size: 100% 100%;
  z-index: -1;
}

h4 {
  font-size: 1.5rem;
  font-weight: 750;
  padding-top: 2rem;
}
  
.times {
  margin-top: 2rem;
}

ul {
  padding-left: 1.5rem;
}

.programWrapper {
  position: relative;
  width: 200vw;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  transition: transform 0.3s ease;
  left: 2%;
}

.namiddagSelected {
  left: -115%;
}
  
.programBlock {
  position: relative;
  width: 80vw;
  max-width: 550px;
}

.programBlock::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 110%;
  top: 5%;
  left: -10%;
  background-size: 100% 100%;
  z-index: -1;
}

.blockOne::before {
  background-image: url("../img/whiteThree.png");
}
.blockOne {
  transform: rotate(1deg);
}
.blockTwo::before {
  background-image: url("../img/whiteFour.png");
}
.blockTwo {
  transform: rotate(-0.5deg);
}
.blockThree::before {
  background-image: url("../img/whiteNine.png");
}
.blockFour::before {
  background-image: url("../img/whiteSix.png");
  left: -14%;
}
.blockFour {
  transform: rotate(1.5deg);
}
.blockFive::before {
  background-image: url("../img/whiteSeven.png");
    top: 15%;
  left: -15%;
}
.blockFive {
  transform: rotate(-0.5deg);
}
.blockSix::before {
  background-image: url("../img/whiteThree.png");
}
.blockSix {
  transform: rotate(-1.5deg);
}
.blockSeven::before {
  background-image: url("../img/whiteNine.png");
}
.blockSeven {
  transform: rotate(0.5deg);
}
.blockEight::before {
  background-image: url("../img/whiteFour.png");
}
.blockEight {
  transform: rotate(-1deg);
}
.blockNine::before {
  background-image: url("../img/whiteSix.png");
  top: 15%;
  left: -15%;
}
.blockNine {
  transform: rotate(0.5deg);
}
.blockTen::before {
  background-image: url("../img/whiteNine.png");
}
.blockTen {
  transform: rotate(-0.5deg);
}

/* 5. Formulier */

.rectangleBasicFour {
  height: 10vh;
  padding: 10px, 0;
  z-index: -1;
  position: relative;
  width: 100vw;
  overflow-x: clip;
}

.rectangleBasicFour::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -40%;
  left: -20%;
  transform: rotate(180deg);
  background-image: var(--color-four);
  background-size: 100% 100%;
  z-index: 0;
}

.questionArrow {
  position: relative;
  margin-right: 2rem;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 2rem;
}

.questionArrow::before {
  content: "";
  position: absolute;
  width: 140%;
  height: 120%;
  top: -10%;
  left: -15%;
  background-image: url("../img/whiteSeven.png");
  background-size: 100% 100%;
  z-index: -1;
}

.questionTextVragen {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.questionTextVragen::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 140%;
  top: -12%;
  left: -12%;
  background-image: url("../img/whiteEleven.png");
  background-size: 100% 100%;
  z-index: -1;
}

.contact {
  display: flex;
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  background-image: var(--background-image-form);
  width: 100%;
  height: 110%;
  background-size: 100% 100%;
  z-index: -3;
}

.contact form {
  display: grid;
  gap: 0.5rem;               
  width: 100%;
  padding: 1rem 1.5rem;  
    transition: transform 0.5s ease;      
}

.contact form::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 120%;
  top: -7%;
  left: -15%;
  background-image: url("../img/whiteNine.png");
  background-size: 100% 100%;
  z-index: -2;
}

.rectangleVerticalOne {
  width: 15vw;
  padding: 10px;
  position: relative;
  overflow-x: clip;
}

.rectangleVerticalOne::before {
  content: "";
  position: absolute;
  width: 140%;
  height: 120%;
  top: -7%;
  left: 10%;
  background-image: var(--color-six);
  background-size: 100% 100%;
}

input, select, textarea {
  width: 100%;
  padding: 0.5rem;            
  font-size: 1rem;          
  border: 1px solid var(--Selected-scheme);
  border-radius: 4px;
}
  
button {
  padding: 0.5rem 1rem;       
  font-size: 1rem;
  background-color: var(--Selected-scheme);
  border-radius: 4px;
  border: none;
}

.rectangleBasicFive {
  height: 20vw;
  padding: 10px 0;
  position: relative;
  width: 100vw;
  overflow-x: clip;
}

.rectangleBasicFive::before {
  content: "";
  position: absolute;
  width: 140%;
  height: 100%;
  top: -5%;
  left: -10%;
  transform: rotate(180deg);
  background-image: var(--color-five);
  background-size: 100% 100%;
  z-index: -1;
}

/* 6. Footer */

.rectangleVerticalTwo {
  width: 10vh;
  height: 40vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rectangleVerticalTwo::before {
  content: "";
  position: absolute;
  width: 222%;
  height: 150%;
  top: -20%;
  left: -65%;
  background-image: var(--color-six);
  background-size: 100% 100%;
  z-index: 0;
}

.infoWrap {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  position: absolute;
  transform: rotate(-90deg);
}


.infoText {
  position: relative;
  font-size: 6rem;
  font-weight: 900;
}

.infoText::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 100%;
  left: -15%;
  background-image: url("../img/whiteFour.png");
  background-size: 100% 100%;
  z-index: -1;
}

.infoArrow {
  position: relative;
  font-size: 5rem;
  font-weight: 900;
  transition: transform 0.3s ease;
}

.infoArrow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  top: 12%;
  background-image: url("../img/whiteNine.png");
  background-size: 100% 100%;
  z-index: -1;
}

footer div div {
  text-align: right;
  transform: translateX(90%);
}

footer div div p {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 1.5rem;
  width: 55vw;
  max-width: 300px;
}

.footerTextOne::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 70%;
  top: 40%;
  left: 5%;
  background-image: url("../img/whiteFour.png");
  background-size: 100% 100%;
  z-index: -1;
}

.footerTextOne {
  transform: rotate(0.5deg);
  padding-top: 5rem;
}

.footerTextTwo::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 120%;
  top: 17%;
  left: 0;
  background-image: url("../img/whiteTwelve.png");
  background-size: 100% 100%;
  z-index: -1;
}

.footerTextTwo {
  transform: rotate(-1deg);
}

.footerTextThree::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  top: 10%;
  left: -8%;
  background-image: url("../img/whiteNine.png");
  background-size: 100% 100%;
  z-index: -1;
}

.footerTextFour {
  font-size: 0.5rem;
  text-align: center;
  padding-top: 8rem;
  transform: rotate(-1deg) ;
}

.footerTextFour::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 40%;
  top: 75%;
  left: -5%;
  background-image: url("../img/whiteEleven.png");
  background-size: 100% 100%;
  z-index: -1;
}

/* 7. ANIMATIONS */

.rotated {
  transform: rotate(180deg);
}

.footerContent {
    transition: transform 0.5s ease;
}

.slideOut {
  transform: translateX(-100%);
  z-index: -2;
}



@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}

/* 8. MEDIA QUERIES */

@media (min-width: 480px) {
  .headerInfo, h3, h4, .option {
    font-size: 1.75rem;
  }

  .programBlock::before {
    height: 140%;
  }

  .blockOne::before {
    background-image: url(../img/whiteEleven.png);
    top: 0;
  }

  .blockTwo::before {
    background-image: url(../img/whiteTen.png);
    top: -10%;
  }

  .blockThree::before {
    background-image: url(../img/whiteFive.png);
    height: 175%;
    top: -30%;
    left: -12%;
  }

  .blockFour::before {
    background-image: url(../img/whiteNine.png);
    height: 110%;
    top: 15%;
    left: -12%;
  }

  .blockFive::before {
    background-image: url(../img/whiteTwelve.png);
    top: -3%;
    width: 110%;
    left: -10%;
  }

  .blockSix::before {
    background-image: url(../img/whiteOne.png);
    width: 70%;
    left: -5%;
  }

  .blockSeven::before {
    background-image: url(../img/whiteEleven.png);
    width: 100%;
    left: -10%;
  }

  .blockEight::before {
    background-image: url(../img/whiteTwelve.png);
    top: -2%;
  }

  .blockNine::before {
    background-image: url(../img/whiteTen.png);
    width: 110%;
    top: -4%;
    left: -7%;
  }

  .blockTen::before {
    background-image: url(../img/whiteOne.png);
    height: 160%;
    width: 110%;
    top: -7%;
    left: -7%;
  }
}  

@media (min-width: 549px) {

  .headerInfo {
    top: -20%;
  }

  .footerTextFour {
    font-size: 0.75rem;
  }

  .Visieparagraaf p,  li, input, select, textarea, button, footer div div p {
    font-size: 1.25rem;
  }  

  .headerInfo, h3, h4, .option {
    font-size: 2rem;
  }

  .questionArrow, .arrow, .colorArrow {
    font-size: 2.5rem;
  }

  .heroSection, h1, h2, .questionTextVragen {
    font-size: 3rem;
  }

  .visieOne::before {
    background-image: url(../img/whiteEleven.png);
    height: 200%;
    top: -35%;
  }

  .visieTwo::before {
    background-image: url(../img/whiteTwelve.png);
    height: 165%;
    top: -32%;
  }

  .visieThree::before {
    background-image: url(../img/whiteTwo.png);
    height: 160%;
    top: -22%;
  }

  .visieFour::before {
    background-image: url(../img/whiteTwelve.png);
    height: 170%;
    top: -17%;
  }

  .visieFour {
    padding-bottom: 0;
  }

  .arrow {
    right: 5%;
  }

  .rectangleBasicTwo h3 {
    padding-left: 2rem;
  }

  .rectangleBasicThree::before {
    height: 160%;
  }
} 

@media (min-width: 650px) {
  .rectangleBasicTwo h3::before {
    width: 110%;
  }

  .headerInfo {
    top: -30%;
  }
} 